body{
    background: rgb(228, 228, 228);
}

nav{
    font-family: cursive;
    font-size:20px;
}

.fondobarra{
    background-color:#990000 !important;
   
}

.links >li >a{
    color: white !important;
}

.botoncolor{
    background-color:rgb(250, 173, 6) !important;
    color: rgb(136, 9, 9);
}


.container{
    text-align:justify;
    font-family:Arial, Helvetica, sans-serif;
}

.form-control{
    background-color:rgba(243, 236, 196, 0.986);
    
   
}

.containerf{
    background:#750404;
   
}

.img-fluid{
    padding-bottom: 5px;
    
}




